body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 15px;
}
/* CSS de la barre de navigation*/
nav{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;   
    
}

.link{
<<<<<<< HEAD
=======
    text-decoration: none;
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
    margin: 7px;

}
#link1{
    border-top: solid;
<<<<<<< HEAD
    color: #0065FC ;  
}
#link3{
    color:  #0065FC;
=======
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
}
.motdacceuil{
    margin: 3em;
}
/* CSS du bouton de recherche de ville*/
.formrecherche{
    position: relative;
    margin: 3em;
    display: flex;
    border-radius: 14px 5px 5px 14px;   
}
.iconerecherche{
    background-color: #F2F2F2;
    border-radius: 14px 0px 0px 14px;
    font-size: 12px;
}
.buttonrecherche{
    background-color:#0065FC ;
    border-radius: 0px 10px 10px 0px;
    color: white;
}
/* Css info*/
.iconeinfo{
    margin-right: 6px;
    color:  #0065FC ; 
    background-color: white;
 }
/*Css pour les filtres*/
.filtre{
    display: flex;
    margin: 3em;
   
}
<<<<<<< HEAD
.eco:hover{
    background-color:  #0065FC;
    
}

=======
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
.titrefiltre{
    display: flex;
    margin-right: 15px;
}
.eco{
    display: flex; 
    margin-left: 15px;
    padding-right: 1px;
}
<<<<<<< HEAD
.famille:hover{
    background-color:  #0065FC;
}
=======
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
.famille{
    display:flex;  
    margin-left: 15px;
    padding-right: 1px;
}
<<<<<<< HEAD
.couple:hover{
    background-color:  #0065FC;
}
=======
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
.couple{
    display:flex;  
    margin-left: 15px;
    padding-right: 1px;
}
<<<<<<< HEAD
.chien:hover{
    background-color:  #0065FC;
}
=======
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
.chien{
    display:flex;  
    margin-left: 15px;
    padding-right: 1px;
}
#Economique{
    text-align: center;
    border-radius: 14px;
    
}
.iconeeco{
    position: absolute;
    border-radius :50%;
    padding:3px;
    color:  #0065FC ;
    background-color:  #DEEBFF;
}
.iconefamille{
    position: absolute;
    border-radius :50%;
    padding:3px;
    color:  #0065FC ; 
    background-color: #DEEBFF ;
}
#Familial{
    text-align: center;
    border-radius: 14px;
}

 .iconecouple{
    position: absolute;
    border-radius :50%;
    padding:3px;
    color:  #0065FC ; 
    background-color: #DEEBFF ;
 }
 #Romantique{
    text-align: center;
    border-radius: 14px;  
 }
.iconechien{
    position: absolute;
    border-radius :50%;
    padding:3px;
    color:  #0065FC ; 
    background-color: #DEEBFF ;  
}
#animaux{
    text-align: center;
    border-radius: 14px; 
}
/* le Css de la ligne info*/
.info{
    display: flex;
    margin: 3em;
}
/* css de la partie hebergement*/
.bloc1{
    display: flex;
    
}

.hebergement{
     display: flex;
    justify-content: space-around;
    
}

/* css de la gallery chambre à Marseille*/

.categorie1{
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 3em;

     
}
.descriptif{
    margin: 3em;
    
}
.chambre{
    display: flex;
    margin: 3em;
}
.cadre1{
    box-shadow: 1px 1px 1px;
    border-radius: 14px;
    background-color: white;
    margin-right: 15px;
}
.cadre1 img{
    box-shadow: 1px 1px 1px white;
    border-radius: 14px 14px 0px 0px;
    padding: 4px;
<<<<<<< HEAD
   
    
     }
.imagechamb{
    width: 150px;
    height:100px;
}
a
{ 
 text-decoration:none; 
 color: black;
 
} 
=======
    
     }
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
.name{
    font-size: 10px;
    margin-left: 6px;
    
}
.price{
    font-size: 10px;
    margin-left: 6px;
}
.etoilechamb{
    display: flex;
    font-size: 10px;
    margin-left: 6px;
}
.etoilecolor{
    color: #0065FC;
}
.etoilenoncolor{
    color: #F2F2F2;
}
.afficherplus{
    margin: 3em;
}

/* Css de la partie chambre populaire*/
.categorie2{
    background-color: #F2F2F2;
    border-radius: 10px;
<<<<<<< HEAD
    margin: 3em; 
=======
    margin: 3em;
    padding-bottom: 10px;
    
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
 }
 
.iconepop{
    display: flex;
    justify-content: space-between;
    margin: 3em;   
}
.etoilechambpop{
    display: flex;
    padding-top: 20px;
}
.cadre3 img{
<<<<<<< HEAD
    border-radius: 14px 0px 0px 14px;   
=======
    border-radius: 14px 0px 0px 14px;
    
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
    
 }
 .image{
     margin-right: 8px;
<<<<<<< HEAD
    
 }
 .imagechambpop{
    width: 150px;
    height: 100px;
=======
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
 }
 
 .cadre3{
    box-shadow: 1px 1px ;
    border-radius: 14px;
    background-color: white;
    margin-right: 15px;
    display: flex;
<<<<<<< HEAD
    margin-top: 20px;  
=======
    margin-top: 20px;
    
    
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
 }
.paragraphe{
    font-size: 10px;
}
.chambrepop{
    margin: 3em;   
}
/* Css de la partie activités*/
.categorie3{
   
    border-radius: 10px;
    margin-bottom: 80px;
    padding: 1em;
    justify-content: space-between;

}
.titreactivite{
    margin: 3em;
}
.activites{
    display: flex;
    justify-content: space-around;  
 }
 .cadre4{
    border-radius: 14px;
    box-shadow: 1px 1px 1px 1px;
   background-color: white;
   
}
.cadre4 img{
    border-radius: 14px 14px 0px 0px;
   
}
.cadre4 p{
   text-align: center;
   font-size: 10px;
}
<<<<<<< HEAD
.imagelong{
    width:150px;
    height:250px;
}
.imagecarre{
    width: 150px;
    height:100px;
}
=======
>>>>>>> 814266cb67270567f9ad95125763ae8f8708e780
/* CSS du footer*/

.footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}


    

 
 

