body{
    padding: 0;
    margin: 15px;
}
nav{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;   
    
}


.link{
    text-decoration: none;
    margin: 7px;

}
#link1{
    border-top: solid;
}

.brand{
    text-decoration: none;
}

.recherche{
   
    margin: 0;
    padding: 0;
    display: flex;   
}

.filtre{
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}

img{
    width: 150;
    height: 100;
}

.chambre{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: #F2F2F2;
}

.chambrepop{
    background-color: #F2F2F2;
}


section{

    display:flex;
    justify-content: space-around;
}
.activites{
    display: flex;
    justify-content: space-around;
}








