body{
    padding: 0;
    margin: 0;
}
nav{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    
    
}

.link{
    text-decoration: none;
    margin: 7px;

}
.brand{
    text-decoration: none;
}

